<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="heigth=device-height, initial-scale=1">
        <title>Jurema na Cozinha</title>
        <link rel="stylesheet" href="../FODA/CSS/pagina.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel='icon' type='image/jpg' href="../FODA/IMG/RISOTO.png">
    </head>
    <body>
        <main>
            <header class="principal">
                <div class="faixa">
                    <div class="logo">
                        <img class="juju" src="../FODA/IMG/JUREMA.png">
                    </div>
                </div>
                <div class="busca">
                    <input class="bagulhin" placeholder="Pesquise" type="text" id="barier"></input>
                </div>
            </header>
            <div class="barra">
                <input type="checkbox" id="check">
                <label class="treco" for="check">
                    <img class="menu" src="../FODA/IMG/MENU.png">
                </label>
                <nav class="side">
                    <ul>
                        <li><a href=""><img class="home" src="../FODA/IMG/HOME.png"></a></li>
                        <li><a href="./template1.html"><img class="receita" src="../FODA/IMG/RECEITAS.png"></a></li>
                        <div class="bagu">
                            <input type="checkbox" id="set">
                            <label class="trem" for="set">
                        <li><img class="config" src="../FODA/IMG/SETINGS.png"></li>
                            </label>
                            </input>

                        <div class="config-fundo">
                            <div class="container">
                                <div class="toggle-wrapper">
                                    <label class="switch">
                                        <input type="checkbox" id="hidden" name="theme" />
                                        <div id="slider">
                                            <img id="lua" src="../FODA/IMG/LUA.png">
                                            <div id="button">
                                            </div>
                                            <img id="sol" src="../FODA/IMG/SOL.png">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
            </div>
                        <li><a href=""><img class="insta" src="../FODA/IMG/INSTA.png"></a></li>
                        <li><a href=""><img class="whats" src="../FODA/IMG/WHATS.png"></a></li>
                    </ul>
                </nav>
            </div>
        </main>
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <input type="radio" name="radio-btn" id="radio6">
                <input type="radio" name="radio-btn" id="radio7">
                <input type="radio" name="radio-btn" id="radio8">
                <input type="radio" name="radio-btn" id="radio9">

                <div class="slide first"><img src="../FODA/IMG/1.png"></div>
                <div class="slide"><img src="../FODA/IMG/2.png"></div>
                <div class="slide"><img src="../FODA/IMG/3.png"></div>
                <div class="slide"><img src="../FODA/IMG/4.png"></div>
                <div class="slide"><img src="../FODA/IMG/5.png"></div>
                <div class="slide"><img src="../FODA/IMG/6.png"></div>
                <div class="slide"><img src="../FODA/IMG/7.png"></div>
                <div class="slide"><img src="../FODA/IMG/8.png"></div>
                <div class="slide"><img src="../FODA/IMG/9.png"></div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <div class="auto-btn5"></div>
                    <div class="auto-btn6"></div>
                    <div class="auto-btn7"></div>
                    <div class="auto-btn8"></div>
                    <div class="auto-btn9"></div>
                </div>

            </div>

            <div class="manual-nav">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <label for="radio5" class="manual-btn"></label>
                <label for="radio6" class="manual-btn"></label>
                <label for="radio7" class="manual-btn"></label>
                <label for="radio8" class="manual-btn"></label>
                <label for="radio9" class="manual-btn"></label>
            </div>
        </div>
        <div class="fundo1">


        </div>
        <script type="text/javascript" src="../FODA/JS/pagina.js"></script>
    </body>
</html>