<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Jurema na Cozinha</title>
        <link rel="stylesheet" id="white_theme" href="../FODA/CSS/pagina.css">
        <link rel='icon' type='image/jpg' href="../FODA/IMG/RISOTO.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
            <main>
                <header class="principal">
                    <div class="faixa">
                        <div class="logo">
                            <img class="juju" src="../FODA/IMG/JUREMA.png">
                        </div>
                    </div>
                    <div class="busca">
                        <input placeholder="Pesquise" class="bagulhin" type="text" id="barier"></input>
                    </div>
                </header>
                <div class="barra">
                    <input type="checkbox" id="check">
                        <label class="treco" for="check">
                            <img class="menu" src="../FODA/IMG/MENU.png">
                        </label>
                    <nav class="side">
                        <ul>
                            <li><a href="./pagina.html"><img class="home" src="../FODA/IMG/HOME.png"></a></li>
                            <li><a href=""><img class="receita" src="../FODA/IMG/RECEITAS.png"></a></li>
                            <div class="bagu">
                                <input type="checkbox" id="set">
                                    <label class="trem" for="set">
                                        <li><img class="config" src="../FODA/IMG/SETINGS.png"></li>
                                    </label>
                                </input>
                                <div class="config-fundo">
                                    <div class="container">
                                        <div class="toggle-wrapper">
                                            <label class="switch">
                                                <input type="checkbox" id="hidden" name="theme"/>
                                                    <div id="slider">
                                                        <img id="lua" src="../FODA/IMG/LUA.png">
                                                            <div id="button">
                                                            </div>
                                                        <img id="sol" src="../FODA/IMG/SOL.png">
                                                    </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li><a href=""><img class="insta" src="../FODA/IMG/INSTA.png"></a></li>
                            <li><a href=""><img class="whats" src="../FODA/IMG/WHATS.png"></a></li>
                        </ul>
                    </nav>
                </div>
            </main>
            <div class="primeira">
                <div class="tudo">
                    <label class="cuzcuz">
                        <div class="recipe-card1">
                            <div class="receita1">
                                <figure>
                                    <img src="../FODA/IMG/4.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li>70 MIN</li>
                                        <li>4 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">POUTINE</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                    <label class="cuzcuz">
                        <div class="recipe-card2">
                            <div class="receita2">
                                <figure>
                                    <img src="../FODA/IMG/3.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">90 MIN</li>
                                        <li class="li2">8 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">NANAIMO BARS</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>

                    <label class="cuzcuz">
                        <div class="recipe-card3">
                            <div class="receita3">
                                <figure>
                                    <img src="../FODA/IMG/2.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">80 MIN</li>
                                        <li class="li2">6 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">PANQUECA CANADENSE</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="segunda">
                <div class="tudo">
                    <label class="cuzcuz">
                        <div class="recipe-card1">
                            <div class="receita1">
                                <figure>
                                    <img src="../FODA/IMG/1.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li>75 MIN</li>
                                        <li>4 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">BEAVERTAILS</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                    <label class="cuzcuz">
                        <div class="recipe-card2">
                            <div class="receita2">
                                <figure>
                                    <img src="../FODA/IMG/5.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">70 MIN</li>
                                        <li class="li2">9 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">TOURTIÈRE</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>

                    <label class="cuzcuz">
                        <div class="recipe-card3">
                            <div class="receita3">
                                <figure>
                                    <img src="../FODA/IMG/6.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">40 MIN</li>
                                        <li class="li2">9 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">BANNOCK</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="terceira">
                <div class="tudo">
                    <label class="cuzcuz">
                        <div class="recipe-card1">
                            <div class="receita1">
                                <figure>
                                    <img src="../FODA/IMG/7.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li>95 MIN</li>
                                        <li>6 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">BAGEL MONTREAL</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                    <label class="cuzcuz">
                        <div class="recipe-card2">
                            <div class="receita2">
                                <figure>
                                    <img src="../FODA/IMG/8.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">60 MIN</li>
                                        <li class="li2">5 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">SMOKED MEAT</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>

                    <label class="cuzcuz">
                        <div class="recipe-card3">
                            <div class="receita3">
                                <figure>
                                    <img src="../FODA/IMG/9.png" alt="card image">
                                </figure>
                                <div class="card-meta">
                                    <ul class="dish-stats">
                                        <button class="dish-type">PRATO</button>
                                        <li class="li1">75 MIN</li>
                                        <li class="li2">8 PORÇÕES</li>
                                    </ul>
                                    <img class="IMG_PRATO" src="../FODA/IMG/PRATO.png">
                                    <img class="IMG_TEMPO" src="../FODA/IMG/TEMPO.png">
                                    <h2><a href="">SASKATOON BERRY PIE</a></h2>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="fundo2">

            </div>
    <script type="text/javascript" src="../FODA/JS/template1.js"></script>
    </body>

</html>